<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @variation.name %>
</p>

<p>
  <strong>Product:</strong>
  <%= @variation.product_id %>
</p>

<%= link_to 'Edit', edit_variation_path(@variation) %> |
<%= link_to 'Back', variations_path %>
